parameters:
    ignoreErrors:
        - '#Cannot call method arrayNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\.#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::addDefaultsIfNotSet\(\).#'
includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
	- phpstan-baseline.neon
